.landing-page {
    
    overflow:hidden;
  }
  
  .background-image {
    position: relative;
    width: 130vw; 
    height: 50vh; 
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 60%), 
    url('../assets/landpage.jpeg');
    background-size: cover;
    background-position: center;
    z-index: 1; 
    transform: rotate(90deg);
  }
  
  .logo {
    max-width: 90%; 
    bottom: 16%;
    left: 20%;
    position: absolute;
    transform: rotate(270deg);
  }
  
  button {
    position: relative;
    z-index: 3;
    margin-top: auto;
    width: 80%; 
  } 
  .content {
    position: relative;
    z-index: 2; 
  }
  